header, footer, nav, section {
    display: block;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Source Sans Pro",sans-serif;
}

#header-container {
    background: url("../Content/images/zver.png") 50% 0 no-repeat fixed;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%;
    height: 400px;
    font-family: "futura-pt";
    color: white;
}

#logo-name {
    font-size: 80px;
    margin-left: 80px;
    padding-top: 20px;
    float: left;
    cursor: default;
}

#nav-menu {
    padding-top: 60px;
    float: right;
    font-size: 20px;
    text-align: right;
    padding-right: 100px;
}

#nav-menu ul{
    
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1em;
}

#nav-menu li {
    padding-right: 30px;
    display: inline-block;
    cursor: pointer;
}

#nav-menu a {
    color: white;
    text-decoration: none;
}

#extraLinks a {
    padding-right: 30px;
    display: inline-block;
    cursor: pointer;
}

#nav-menu a:hover {
    color: #FFEFD5;
}

#uslugi {
    margin-bottom: 77px;
}

#uslugi-content {
    padding-left: 27%;
    font-size: 15px;
}

#uslugi h1 
{
    padding-left: 17px;
    padding-bottom: 17px;
    font-size: 42px;
    font-weight: bold;
    margin: 0;
    padding-left: 27%;
    padding-bottom: 30px;
    padding-top: 80px;
}

#uslugi p {
    font-size: 15px;
    line-height: 26px;
    letter-spacing: .5px;
    font-weight: 400;
    font-style: normal;
    width: 690px;
}

#prices-container {
    margin-left: 27%;
    margin-bottom: 55px;
}

.price-row {
    width: 19%;
    float: left;
    height: 450px;
    margin-right: 4px;
    min-width: 200px;
    max-width: 300px;
}

.last-row {
    margin: 0px;
}

.img-price {
    width: 200px;
    height: 200px;
    
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%;
    margin-bottom: 20px;
    cursor: pointer;
}

#img-1 {
    position: absolute;
    width: 200px;
    height: 200px;
}

#img-2 {
    position: absolute;
    width: 200px;
    height: 200px;
}

#img-3 {
    position: absolute;
    width: 200px;
    height: 200px;
}

#img-4 {
    position: absolute;
    width: 200px;
    height: 200px;
}

#img-5 {
    position: absolute;
    width: 200px;
    height: 200px;
}

#img-6 {
    position: absolute;
    width: 200px;
    height: 200px;
}

.price-text {
    color: white;
    top: 15px;
    position: relative;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
}

#price-number-1 {
    position: relative;
    text-align: center;
    font-size: 40px;
    color: white;
    top: 58px;
}

#price-number-2 {
    position: relative;
    top: 82px;
    text-align: center;
    font-size: 40px;
    color: white;
}

#price-number-3 {
    position: relative;
    top: 35px;
    text-align: center;
    font-size: 40px;
    color: white;
}

#price-number-4 {
    position: relative;
    top: 82px;
    text-align: center;
    font-size: 40px;
    color: white;
}

#price-number-5 {
    position: relative;
    top: 58px;
    text-align: center;
    font-size: 40px;
    color: white;
}

#price-number-6 {
    position: relative;
    top: 32px;
    text-align: center;
    font-size: 40px;
    color: white;
}

#request-container {
    background: url("../Content/images/background2.jpg") 50% 0 no-repeat fixed;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%;
    height: 605px;
    text-align: center;
}

#request-button {
    background-clip: border-box;
    background-color: black;
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    border-radius: 10px;
    box-sizing: border-box;
    display: block;
    height: 110px;
    position: relative;
    top: 275px;
    left: 35%;
    transition-delay: 0s, 0s;
    transition-duration: 0.3s, 0.3s;
    transition-property: transform, background-color;
    transition-timing-function: cubic-bezier(0.25, 0, 0.3, 1);
    width: 480px;
    color: white;
    font-size: 40px;
    opacity: 0.7;
    cursor: pointer;
}

#request-button:hover {
    opacity: 1;
}

.form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
}

#contact-container {
    height: 400px;
    margin-left: 400px;
    margin-top: 200px;
}

#contact-container aside {
    float: left;
    width: 200px;
    margin-left: 20px;
}


#feedback-form {
    width: 400px;
    float: left;
    text-align: center;
}

.cleaner {
    clear: both;
}

section {
	display: block;
	margin: 20px auto;
	width:80%;
}

section > .user {
	
	border:none;
	padding: 2px;
	font-weight: bold;
	width:70%;
	box-shadow: none;
}

section p {
	border:solid 1.5px;
	border-radius: 5px;
	padding: 10px 25px;
	box-shadow: 5px 5px 5px 0px rgba(155,155,155,0.6);
}

section {
    margin-bottom: 60px;
}

.user:hover {
	text-decoration:underline;	
}

.delete-request-link {
    color: white;
    padding: 5px;
    float: right;
    text-decoration: none;
    background-color: red;
    border-radius: 5px;
}

