@{
    Layout = null;
}

<!doctype html>
<html>
  <head>
      <meta charset="utf-8" />
      <title>Белый Диплом</title>
      <link rel="stylesheet" href="~/Content/Site.css"/>
  </head>
  <body>
      <div id="header-container" data-type="background">
          <div id="logo-name">Белый Диплом</div>
          <div id="nav-menu">
              <ul>
                  <li>Услуги</li>
                  <li>Цены</li>
                  <li>Заказать</li>
                  <li>Отзывы</li>
                  <li>Контакты</li>
              </ul>
          </div>
          <div class="cleaner"></div>
      </div>
      <div id="uslugi">
          <h1>Услуги</h1>
          <div id="uslugi-content">
              <p>
                Данный сервис предоставляет помощь в выполнении дипломных работ и отчетов по практике по гуманитарным дисциплинам.
                Стоимость наших работ оценивается индивидуально. Ниже представлены ориентировачные цены. Вы можете отправить нам на оценку любой вид работы, мы вам ответим в ближайшее время.
                Сможем помочь выполнить работы в кратчайшие сроки.
              </p>
          </div> 
      </div>
      <div id="prices-container">
          <div class="price-row">
              <div class="img-price">
                  <img id="img-1" src="~/Content/images/1.png"/>
                  <div class="price-text">Помощь в написании контрольной работы с практическими заданиями - 40 р.</div>
              </div>
              <div class="img-price" >
                  <img id="img-2" src="~/Content/images/2.png" />
                  <div class="price-text">Помощь в написании реферата - 30 р.</div>
              </div>
          </div>
          <div class="price-row">
              <div class="img-price">
                  <img id="img-1" src="~/Content/images/3.png" />
                  <div class="price-text">Помощь в написании курсовой работы с данными предприятия, организации, банка - 85 р.</div>
              </div>
              <div  class="img-price">
                  <img id="img-4" src="~/Content/images/4.png" />
                  <div class="price-text">Помощь в написании отчета по практике - 95 р.</div>
              </div>
          </div>
          <div class="price-row last-row">
              <div class="img-price">
                  <img id="img-5" src="~/Content/images/5.png" />
                  <div class="price-text">Помощь в написании дипломной работы с презентацией и докладом - 380 р.</div>
              </div>
              <div class="img-price">
                  <img id="img-6" src="~/Content/images/6.png" />
                  <div class="price-text">Рецензия на работу, доклады, презентации в MS PowerPoint , прохождение нормоконтроля - от 15 р.</div>
              </div>
          </div>
          <div class="cleaner"></div>
      </div>
  </body>
</html>

